<html>
	<head>
	</head>
	<body>
		<h3>Send message</h3>
		<form action="/messages" method="POST">
  <input type="text" placeholder="User" name="user">
  <input type="text" placeholder="Message" name="message">
  <button type="submit">Submit</button>
</form>

<ul class="messages">
  <% for(var i=0; i<messages.length; i++) {%>
    <li class="messages">
      <span>User: <%= messages[i].user %></span><br>
      <p>
      <span> Message: <%= messages[i].message %></span>
    </p>
    <br>
    </li>
  <% } %>
</ul>

<form action="/admin">
  <button type="submit">Invoke Banhammer</button>
</form>
	</body>
</html>
